#Android generated
bin
gen
lint.xml
scripts

#Eclipse
.project
.classpath
.settings
.checkstyle

#Android Studio
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
captures

#Maven
target
release.properties
pom.xml.*

#build
.gradle
build
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#gradle
.gradletasknamecache
#SQLite database
*.db

#Other
.DS_Store
